div.DTTT_container {
  float : left;
  }

button.DTTT_button {
  position         : relative;
  float            : left;
  height           : 24px;
  margin-right     : 3px;
  border           : 1px solid #d0d0d0;
  background-color : #fff;
  cursor           : hand;
  padding          : 3px 10px;
  }

button.DTTT_button::-moz-focus-inner {
  border  : none !important;
  padding : 0;
  }

table.DTTT_selectable tbody tr {
  cursor : hand;
  }

div.DTTT_collection {
  width              : 150px;
  background-color   : #f3f3f3;
  overflow           : hidden;
  z-index            : 2002;
  box-shadow         : 5px 5px 5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow    : 5px 5px 5px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow : 5px 5px 5px rgba(0, 0, 0, 0.5);
  }

div.DTTT_collection_background {
  background : url(/images/cas/TableTools/background.png) repeat top left;
  z-index    : 2001;
  }

div.DTTT_collection button.DTTT_button {
  float         : none;
  width         : 100%;
  margin-bottom : -.1em;
  }

.DTTT_print_info {
  position              : absolute;
  top                   : 50%;
  left                  : 50%;
  width                 : 400px;
  height                : 150px;
  margin-left           : -200px;
  margin-top            : -75px;
  text-align            : center;
  background-color      : #3f3f3f;
  color                 : #FFF;
  opacity               : 0.9;
  border-radius         : 5px;
  -moz-border-radius    : 5px;
  -webkit-border-radius : 5px;
  box-shadow            : 5px 5px 5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow       : 5px 5px 5px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow    : 5px 5px 5px rgba(0, 0, 0, 0.5);
  padding               : 10px 30px;
  }

.DTTT_print_info h6 {
  font-weight : 400;
  font-size   : 28px;
  line-height : 28px;
  margin      : 1em;
  }

.DTTT_print_info p {
  font-size   : 14px;
  line-height : 20px;
  }

.DTTT_disabled {
  color : #999;
  }

tr.DTTT_selected.odd, tr.DTTT_selected.odd td.sorting_1, tr.DTTT_selected.odd td.sorting_2, tr.DTTT_selected.odd td.sorting_3 {
  background-color : #9FAFD1;
  }

tr.DTTT_selected.even, tr.DTTT_selected.even td.sorting_1, tr.DTTT_selected.even td.sorting_2, tr.DTTT_selected.even td.sorting_3 {
  background-color : #B0BED9;
  }